* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: rgb(51, 48, 48);
    font-size: 20px;
}

/*order - should this class css code go after the remaining elements codes?*/
.container {
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    }

header {
    display: flex;
    background-color: rgb(141, 88, 165);
}

h1 {
    text-align: center;
    padding: 20px;
    flex-wrap: wrap;
}

nav {
    height: 100px;
    display: flex;
}

nav ul {
    /* want the links to go to the next level when shrunk but they aren't*/
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

li {
    margin: .75em;
    list-style-type: none; 
}

a :hover ::after {
    color: rgb(26, 4, 4);
}

.section {
    /* flex-wrap: wrap; need to have a parent for display flex*/
    background-color: rgb(183, 193, 204);
        padding: 20px;
    border: 1px solid black;
}

.titles {
    text-align: center;
    width: 20%;
    height: auto;
    border-right: 1px solid black;
}

#bio img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    display: flex;
    flex-wrap: wrap;
}

/* Github Work section styling */
.portfolio-grid {
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 3px;
    margin: 20px;
}

#main-image {
    width: 100%;
    height: auto;
}

.secondary-images  {
    width: 50%;
    border: 1px solid black;
}
.secondary-images img {
    width: 100% ;
}

.banner {
    position: absolute;
    background-color: darkgrey;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

footer  {
    background-color: rgb(141, 88, 165); 
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

footer li {
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
}



/*makes the screen responsive*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
     /*add something for the "work" area to this .secondary-image {
    flex: 0 1 20%; too*/
      
}