* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*order - should this class css code go after the remaining elements codes?*/
.container {
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    }

header {
    display: flex;
    background-color: rgb(7, 170, 170);
}

h1 {
    width: 50%;
    text-align: center;
}

nav {
    width: 50%;
    position: relative;
    height: 125px;
    
}

ul {
    /* want the links to go to the next level when shrunk but they aren't*/
    position: relative;
    right: 1em;
    display: inline-flex;
    margin-bottom: 20px;
}


li {
    margin: 1.5em;
    list-style-type: none; /*could add picture images here*/
}


a :hover ::after {
    color: brown;
}

.section {
    flex-wrap: wrap;
    background-color: rgb(183, 193, 204);
    height: 30%;
    padding: 20px;
    border: 1px solid black;
    
}

.section a {
    flex: 1 0 25%;
}

.titles {
    text-align: center;
}

#id {
    flex-wrap: wrap;
}

/* the image is should grow when I hover over 1 :hover ::after */
.card img  {
    height: 150px;
    width: 100px;
    display: flex;
    flex: 1 0 25%;
}

/* trying to get the nav bar to stack when the screen shrinks*/

@media screen and (max-width: 992px) {
    .header {
        display: inline-flex;
    }
}

@media screen and (max-width: 768px) {
    .header {
        display: block;
    }
}